body{
    margin:0;
    padding: 0;
    background: url("kape.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    font-family: sans-serif;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #fff;
    font-size: 30px;
    font-family: Arial;
    padding-left: 5px;
    float: left;
    padding-top: 30px;
}
.logo:hover{
    color: aqua;
}
.menu{
    width: 400px;
    float: left;
    height: 75px;
    padding-left: 600px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items:center;
}
ul li{
    list-style: none;
    margin-left: 75px;
    font-size: 18px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color:aqua;
}
h2{
    float: left;
    padding-left: 30px;
    color: rgb(229, 211, 211);
}
p{
    width: 1200px;
    float: left;
    text-align: justify;
    padding-left: 30px;
    color: aliceblue;
}
.login{
    width: 280px;
    height: 370px;
    background-color: black;
    color: aliceblue;
    top: 30%;
    left: 80%;
    position: absolute;
    transform: translate(-50%, -.5%);
    box-sizing: border-box;
    padding: 20px 40px;
    border-radius: 20px;
}
h1{
    margin: 0%;
    padding: 0 0 20px;
    text-align: center;
}
.login input{
    width: 96%;
    margin-bottom: 5%;
    border-radius: 5%;
    padding: 2%;
}
.login input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
.login input[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    height: 30px;
    font-size: 16px;
    background: transparent;
    color: #fff;
    font-weight: bold;
}
.login input[type="submit"]:hover{
    background: #fff;
    cursor: pointer;
    color: black;
}
.login a{
    text-decoration: none;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
}
.login a:hover{
    color: aqua;
}